<div class="banner">
        <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
    <div class="corpse">
        <div>
            <h2>Description</h2>
            <p><%= @cocktail.description %></p>
            <%= link_to "Edit", edit_cocktail_path(@cocktail) %>
            <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "are you sure?" } %>
        </div>
        <div>
            <h2>Ingredients</h2>
            <ul class="list-group list-group-flush">
                <% @cocktail.doses.each do |dose| %>
                    <li class="">
                    <strong><%= dose.ingredient.name %></strong> - 
                    <p><%= dose.description %></p>
                   <strong><%= link_to "Remove", dose_path(dose), method: :delete, data: { comfirm: "Are you sure?" }  %></strong>
                    </li>
                <% end %>
            </ul>
            <div id="dose">
                <%= render '/doses/new', cocktail: @cocktail, dose: @dose %>
            </div>
        </div>
    </div>
</div>